<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../public/css/Register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- <script src="Register.js"></script> -->
    <title>Login</title>
</head>

<body>

    <!-- field set -->
<fieldset>
    <div class="container">
        <form id="msform">
            <ul id="progressbar">
                <li>Personal</li>
                <li class="active">Contact</li>
                <li class="active">Account</li>
            </ul>
        </div>
        </form>
        <div class="main">
            <h1>Register</h1>
            <form method="post">
                <div class="txt-field">
                    <input type="text" required>
                    <label>First name</label>
                </div>
                <div class="txt-field">
                    <input type="text" required>
                    <label>Last name</label>
                </div>
                <div class="txt-field">
                    <input type="text" required>
                    <label>Nickname</label>
                </div>
                <input type="submit" name="next" class="submit action-button large" value="Next" />
                <div class="singin-link">
                    Do you have an account? <a href="login.html">Sign in</a>
                </div>
            </form>
        </div>

</fieldset>
    <fieldset>
        <div class="container">
            <form id="msform">
                <ul id="progressbar">
                    <li >Personal</li>
                    <li >Contact</li>
                    <li class="active">Account</li>
                </ul>
            </div>
            </form>
        <div class="main">
            <h1>Register</h1>
            <form method="post" onsubmit="return validateForm()">
                    <div class="txt-field">
                        <input type="text" required>
                        <label>Address</label>
                    </div>
                    <div class="txt-field">
                        <input type="tel" maxlength="10" required>
                        <label>Phone number</label>
                    </div>
                    <div class="txt-field">
                        <input type="text" required>
                        <label>ID Line</label>
                    </div>
                    <div class="txt-field">
                        <input type="text" required>
                        <label>Other Contact Chanel</label>
                </div>
                <!-- css button -->
                <div class="button-container" id="page2">
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="submit" name="next" class="submit action-button small" value="Next" />
                  </div>
                  <div class="singin-link">
                    Do you have an account? <a href="login.html">Sign in</a>
                </div>
            </form>
        </div>
    </fieldset>
    <fieldset>
        <div class="container">
            <form id="msform">
                <ul id="progressbar">
                    <li >Personal</li>
                    <li >Contact</li>
                    <li >Account</li>
                </ul>
            </div>
            </form>
        <div class="main">
            <h1>Register</h1>
            <form method="post" onsubmit="return validateForm()">
                    <div class="txt-field">
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="txt-field">
                        <input type="text" maxlength="30" required>
                        <label>Username</label>
                    </div>
                    <div class="txt-field">
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="txt-field">
                        <input type="password" required>
                        <label>Confirm Password</label>
                    </div>
                <!-- css button -->
                <div class="button-container" id="page3">
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="submit" name="next" class="submit action-button small" value="Submit" />
                  </div>
                  <div class="singin-link">
                    Do you have an account? <a href="login.html">Sign in</a>
                </div>
            </form>
        </div>
    </fieldset>
</body>
</html>
