<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/css/role.css">
        <title>Role</title>
    </head>
    <body>
        <h1>Role</h1>
        <table id="reference">
            <td class="frame">
                <img src="https://cdn-icons-png.flaticon.com/512/10293/10293977.png" alt="">
                <button class="btn teacher-btn" onclick="window.location.href='/manageQuest'">Teacher</button>
            </td>
            <td></td>
            <td class="frame">
                <img src="https://cdn-icons-png.flaticon.com/512/10296/10296099.png" alt="">
                <button class="btn student-btn" onclick="window.location.href='/board_qstd'">Student</button>
            </td>
        </table>
    </body>
</html>