* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Kanit', sans-serif;
}

#reference {
    position: fixed;
    top: 2rem;
    /* bottom : 10px; */
    right: 1rem;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    min-width: 400px;
    width: 30%;
    min-height: 400px;
    height: 85%;
    margin: 5rem 5rem;
    background-color: white;
    border: 5px solid black;
    box-shadow: #000000 12px 12px 0px 1px;
}

h1{
    margin: 3rem auto 3.5rem 3rem;
    font-size: 60px;
}

/* .frame form{
    padding: 0 3rem;
    box-sizing: border-box;
} */

.role-select {
    height: 8vh;
    border: 5px solid #000000;
    border-radius: 10px;
    margin: 0 3rem 0 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.con-radio {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}

.con-radio input[type="radio"] {
    display: none;
}

.checkmark {
    height: 20px;
    width: 20px;
    border: 4px solid black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.checkmark::after{
    content: "";
    height: 7px;
    width: 7px;
    background: #000000;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* transition: 300ms ease-in-out 0s; */
}

.con-radio input[type="radio"]:checked ~ .checkmark::after{
    transform: translate(-50%, -50%) scale(1);
}

form .txt-field{
    position: relative;
    border-bottom: 5px solid #000000;
    margin: 35px 3rem 0 3rem;
}

.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -10px;
    font-size: 18px;
}

.input-frame {
    height: 50%;
}

.input-frame2 {
    height: 100%;
}

.pass {
    text-align: end;
    margin: 10px 3rem 0 auto;
}

.pass a{
    /* margin: 10px 3rem 3rem auto; */
    font-size: 18px;
    font-weight: bold;
    color : #7A7A7A;
    cursor: pointer;
    text-decoration: none;
}

.pass a:hover{
    text-decoration: underline;
}

.form-step {
	display: none;
}

.form-step.active {
	display: block;
}

input[type="submit"]{
    width: 80%;
    height: 8vh;
    background: #000000;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: auto;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]:hover{
    border: 5px solid black;
    background-color: white;
    color: #000000;
    transition: .5s;
}

.btnz {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
    /* margin: 0 3rem 0 3rem; */
}

.btn {
    width: 80%;
    height: 8vh;
    background: #000000;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: auto;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border: 5px solid black;
    background-color: white;
    color: #000000;
    transition: .5s;
}

.btn2 {
    width: 45%;
    height: 8vh;
    background: #000000;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* margin: auto; */
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2:hover {
    border: 5px solid black;
    background-color: white;
    color: #000000;
    transition: .5s;
}

.singup-link{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #7A7A7A;
    margin: 1rem 0 0 0;
}

.singup-link a{
    color: #000000;
    text-decoration: none;
}

.singup-link a:hover{
    text-decoration: underline;
}